body{
    width: 90vw;
    margin-top: 80px;
    padding: 30px;
}
p{
    color: orangered;
    margin-top: 140px;

}
div{
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow:0 0 25px 0 black;
    justify-content: flex-end;
}
div li{
    margin: 5px;
}
div a{
    color: red;
}
div * {
    display: inline;
}
div a :hover{
    font-weight: 900;
}